@model MyPortfolioMVC.Models.TblProjects
@{
    ViewBag.Title = "UpdateProject";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}

<h2>Proje Güncelleme Ekranı</h2>

<form method="post">
    @*kendisi sürekli ıd vermesin diye biz burada ıd yi Hidden içinde gizli olarak verdik*@
    @Html.HiddenFor(x=>x.ProjectId)
    <lable>Proje Adı</lable>
    @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
    <p class="text-danger">@Html.ValidationMessageFor(x => x.Name)</p>
    <br />
    <lable>Görsel Url</lable>
    @Html.TextBoxFor(x => x.ImageUrl, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.ImageUrl, "", new { @class = "text-danger" })
    <br />
    <lable>Githup Url</lable>
    @Html.TextBoxFor(x => x.GithupUrl, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.GithupUrl, "", new { @class = "text-danger" })
    <br />
    <label>Kategori</label>


    @Html.DropDownListFor(x => x.CategoryId,
        (List<SelectListItem>)ViewBag.Categori,
        "Kategori Seçin", new
        {
            @class = "form-control",
            style = "background-color: black;"
        })
    @Html.ValidationMessageFor(x => x.CategoryId, "", new { @class = "text-danger" })

    <br />
    <lable>Açıklama</lable>
    @Html.TextAreaFor(x => x.Description, 5, 1, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.Description, "", new { @class = "text-danger" })
    <br />

    <button class="btn btn-success">Güncelle</button>

</form>